* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }
    
    html, body {
        height:100%;
        width:100%;
    }
    
    body {
        background-color:papayawhip;
        font-family: 'Playfair Display', serif;
        height:100%;
    }

    header, footer, main {
        padding: 20px;
        border: 1px solid #000000;
        color: black;
    }

    .navigation {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }

    .button {
        width:18%;
        text-align:center;
        text-decoration:none;
        animation:colors 5s linear infinite;
    }


    @keyframes colors {
        0% {
            background-color:papayawhip;
        }

        100% {
            background-color:black;
        }
    }

    .flex-container {
        display:flex;
        flex-direction:column;
        height: 100%;
        overflow:auto;
    }

    header, footer {
        line-height: 60px;
    }

    main {
        display:flex;
        flex-direction:column;
        flex: 1;
    }

    .image img {
        height: 260px;
        object-fit:cover;
        object-position: 0% 40%;
    }

    .column {
        background-color:black;
        color:whitesmoke;
        padding:15px;
        margin: 15px;
        transform: skew(0, 1deg) scale(0.85);
        transform-origin:top left;
        /*animation:colors 50s linear infinite;*/
        animation: bounceIn 100s ease-in-out infinite;
    }

    @keyframes colors {
        0% {
            background-color:black;
        }

        50% {
            background-color:#aaaaaa;
        }

        100% {
            background-color:black;
        }
    }

    @keyframes bounceIn {
        0% {
            transform: scale (0.5);
            opacity:0;
        }

        50% {
            transform: scale (1.2);
            opacity: 1;
        }

        100% {
            transform: scale(1);
        }
    }
    .pullout {
        padding: 15px 0;
        font-style:italic;
        font-size: 1.5em;
        line-height:1.5em;
    }

    .image img {
        width:100%;
        padding:15px;
    }

    .section {
        display:flex;
        flex-direction:column;
    }

    /* media query*/

    @media (min-width: 960px){
        .flex-container {
            height:100%;
        }

        main {
            display: flex;
            flex-direction: column;
        }

        .column {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        .image img {
            height: 560px;
            object-position:0% 40%;
        }

        .section {
            display: flex;
            flex-direction: row;
        }
    }