* {
margin: 0;
padding:0;
box-sizing: border-box;
}

html, body {
    height:100;
    width:100;
}

.container {
    position:relative;
    display: flex;
    background:rgb(0, 140, 255);
    flex-direction: column;
    height:100vh;
}

header {
    height: 5vh;
    background:rgb(0, 140, 255);
    text-align:center;
    z-index:1;

}

footer {
    height: 5vh;
    background:rgb(0, 140, 255);
    text-align:center;
    z-index:1;
    position: absolute;
    width:100%;
    bottom:0px;

}

main {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
}

.eng {
    width: 40%;
    height: fit-content;
    background-color:tomato;
    margin:10px;
    transform: rotate(0deg);
}

.por {
    width: 40%;
    height: fit-content;
    background-color:whitesmoke;
    margin:10px;
    transform: rotate(2deg);
}

@media (max-width:1024px) {
    main {
    flex-direction: row;
    justify-content: space-around;
    }

    .eng {
        width: 512px;
    }

    .por {
        width: 512px;
    }
}

@media (max-width: 768px) {
    main {
    flex-direction: column;
    justify-content: space-around;
    }

    .eng {
        width: fit-content;
        height: fit-content;
    }

    .por {
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 600px) {
    main {
    flex-direction: column;
    justify-content: space-around;
    }

    .eng {
        width: fit-content;
        height: fit-content;
    }

    .por {
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 480px) {
    main {
    flex-direction: column;
    justify-content: space-around;
    }

    .eng {
        width: fit-content;
        height: fit-content;
    }

    .por {
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 320px) {
    main {
    flex-direction: column;
    justify-content: space-around;
    }

    .eng {
        width: fit-content;
        height: fit-content;
    }

    .por {
        width: fit-content;
        height: fit-content;
    }
}