* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }
    
    html, body {
        height:100%;
        width:100%;
        font-family: 'Playfair Display', serif;
    }

body {
    background-color: #202124;
}

.container {
    height:100%;
    width: 100%;
    background-color: Green;
    display:flex;
}

.container:after {
    display: none;
    content: url(https://user-images.githubusercontent.com/97996962/162998259-dfcda495-35d8-4f3f-b7c9-5a4c178086c0.png) url(https://user-images.githubusercontent.com/97996962/162998257-05cb03ec-9fac-4f4a-ba27-d457694e2d2a.png);
}
.welcome {
    height: 400px;
    width: 400px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* background-color:green; */
}

h2 {
    color: whitesmoke;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    font-size: 3.5em;
}

.spam {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
}